
body {
	background:white;
	font-family: arial;
}
h1 {
	color: #6eff25;
	margin: 0;
	font-style:normal;
	padding: 10px;
	background: black;
}
a {
	color: green;
}
p {
	background: black;
	color: #6eff25;
	padding: 10px;
}
li{
	background: black;
	display: inline-block;
	list-style-type:none;
	padding: 10px;
	color: #6eff25;
	border-radius: 5px;
}
